@import url('./reset.css');

h1 {
    align-items: center;
    font-weight: 800;
    font-size: 40px;
    margin-top: 1rem;
    text-align: center;
    transform: uppercase;
    letter-spacing: .1rem;
}

.card-wrapper {
    display: inline-block; 
    transition: padding 0.3s ease; 
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

.card:hover {
    transform: scale(1.05) rotateY(360deg);
    z-index: 1;
    padding: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    display: block;
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1); 
}

.botao-padrao.btn {
    background-color: #ffa500; 
    color: #ffffff; 
    border: none; 
}

.botao-padrao.btn:hover {
    background-color: darkorange; 
    color: white; 
}

.card-title{
    text-align: center;
}

